body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: grey;
  background-repeat: no-repeat;
}

.header {
  background-color: #6c13c5;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.header__title {
  margin: 0;
}

.header__nav {
  margin: 0;
  padding: 0;
}

.header__nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header__nav-item {
  margin: 0 15px;
}

.header__nav-link {
  color: #fff;
  text-decoration: none;
}

.header__nav-link:hover {
  text-decoration: underline;
}

.main {
  padding: 20px;
}

.about,
.resume,
.contact,
.projects {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #f9f9f9;
}

.about__title,
.resume__title,
.contact__title,
.projects__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.about__text,
.resume__text,
.contact__text,
.project__description {
  font-size: 16px;
}

.projects__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.project {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.project__title {
  font-size: 20px;
  margin-bottom: 10px;
}

.project__description {
  font-size: 16px;
  margin-bottom: 10px;
}

.project__link {
  color: #007bff;
  text-decoration: none;
}

.project__link:hover {
  text-decoration: underline;
}

.footer {
  background-color: #6c13c5;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.footer__text {
  margin: 0;
}

.secondFooter {
  text-align: center;
  padding: 10px 0;
  background-color: #6c13c5;
  color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.secondFooter__text {
  margin: 0;
}

.image {
  border-radius: 50%;
  height: auto;
}

.square {
  object-fit: cover;
  height: 100px;
  width: 100px;
}
